* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Public Sans", sans-serif;
}

@font-face {
    font-family: "Public Sans";
    src: local("Public Sans"),
        url("../fonts/PublicSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Public Sans";
    src: local("Public Sans"),
        url("../fonts/PublicSans-Regular.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Public Sans";
    src: local("Public Sans"),
        url("../fonts/PublicSans-Medium.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Public Sans";
    src: local("Public Sans"),
        url("../fonts/PublicSans-MediumItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Public Sans";
    src: local("Public Sans"),
        url("../fonts/PublicSans-Bold.ttf") format("truetype");
    font-weight: 700;
}